.weather-details p {
    
    /* background-color: #8e8c8c; */
    background-color: rgb(73, 137, 211);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px #888888;
}
.weather-details {
    padding:0px 60px;
}