.weather-main-container {
  text-align: center;
  padding: 40px;
  min-height: 100vh;
 
}
.weather-btn {
  padding: 10px;
  background-color: rgb(73, 137, 211);
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  
}
.weather-input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 250px;
 
}
.weather-image {
  height: 280px;
}
.mode-toggle-btn {
  position: fixed;
  top: 20px;
  right: 30px;
  padding: 8px 25px;
  border-radius: 10px;
  cursor: pointer;
}
.weather-main-heading {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.error-message {
  color: red;
}
@media (max-width:768px){
  .weather-btn {
    margin-top: 20px;
  }
}